<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="alternate" type="application/rss+xml" title="RSS feed" href="feed.rss">
<link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed.atom">
<link rel="alternate" type="application/feed+json" title="JSON feed" href="feed.json">
<link rel="apple-touch-icon" sizes="180x180"    href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link type="text/css" href="../styles.css" rel="stylesheet">
<title>BCD Changes Report, {{olderReleaseDate}} (UTC) - {{laterReleaseDate}} (UTC)</title>
</head>
<body>

  <h1>BCD Changes Report, <time>{{reportDate}}</time></h1>
	<p>
  {{#unless hasNewData}}
    <strong>There are no new BCD releases in this timeframe.</strong>
  {{/unless}}
  {{#if hasNewData}}
  	<strong>Summary of BCD changes</strong>
  	<span>from available BCD releases in this timeframe: <time title="{{olderReleaseDateTime}}">{{olderReleaseDate}}</time></span>
  	<span>to <time title="{{laterReleaseDateTime}}">{{laterReleaseDate}}</time></span> <a href="{{permalink}}" title="permalink">🔗</a>
  	</p>

    <h2>Browser Support Changes: +{{addedImplmentationsCt}}, -{{removedImplementationsCt}}</h2>

      {{#if addedImplmentationsCt}}
        <h3>Support increases ({{addedImplmentationsCt}})</h3>
        <section class="added implementations">
          {{#each addedImplementations}}
            <h4>{{@key}}</h4>
            <ol>
              {{#each this}}
                <li>
                  {{#unless (mdnLink this)}}
                    <span>{{formatFeatureStr key topic}}
                    	{{#if (specLink this)}}
                    	<a href="{{specLink this}}"><img src="../imgs/spec2.svg" alt="Spec link"></a>
                    	{{/if}}
                      {{#if status.deprecated}}
                        (⚠️ deprecated)
                      {{/if}}
                  </span>
                  {{/unless}}

                  {{#if (mdnLink this)}}
                    <span><a href="{{mdnLink this}}">{{formatFeatureStr key topic}}</a>
                    {{#if status.deprecated}}
                      (⚠️ deprecated)
                    {{/if}}
                    </span>
                  {{/if}}
                  
                  <b><br></b> 
                  <span class="browsers">Added to <strong>{{addedImplementations}}</strong></span> 
                  <b>&nbsp;➞&nbsp;</b>
                  <span class="ni{{totalImplementations}} engines"><strong>{{totalImplementations}} of 3</strong> engines</span>

                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/if}}

      {{#if removedImplementationsCt}}
        <h3>Support decreases ({{removedImplementationsCt}})</h3>
        <section class="removed implementations">
          {{#each removedImplementations}}
            <h4>{{@key}}</h4>
            <ol>
              {{#each this}}
                <li>
                  {{#unless (mdnLink this)}}
                    <span>{{formatFeatureStr key topic}}
                    	{{#if (specLink this)}}
                    	<a href="{{specLink this}}"><img src="../imgs/spec2.svg" alt="Spec link"></a>
                    	{{/if}}
                  </span>
                  {{/unless}}

                  {{#if (mdnLink this)}}
                    <a href="{{mdnLink this}}">{{formatFeatureStr key topic}}</a>
                  {{/if}}

                  
                  <b><br></b> 
                  <span class="browsers">Removed from <strong>{{removedImplementations}}</strong></span> 
                  <b>&nbsp;➞&nbsp;</b>
                  <span class="ni{{totalImplementations}} engines"><strong>{{totalImplementations}} of 3</strong> engines</span>

                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/if}}

    </section>


    <h2>BCD Metadata Changes: {{allImplementationsCt}}</h2>
    <details>
      <summary>Show all {{ allImplementationsCt }} changes</summary>
      <p class="info"><strong>Note:</strong> The following represent changes to BCD metadata keys
        in the reported time period.  Keys are not implementations, and they don't represent commitments toward implementation, etc.  A new key occuring is perhaps a signal that some implementer was serious enough to add the key.  Many of the features that are 'removed' are usually just 'moved' or 'renamed', but we don't have great ways to highlight that.
      </p>

      {{#if backfilledImplementationsCt}}
        <h3>Backfilled entries ({{backfilledImplementationsCt}})</h3>
      <p class="info">The entries in this section saw support information change since the report on  {{ olderReleaseDate }}, but all the supported browser versions given were more than a couple of months old.  Typically, these are cases of support information being updated long after the support actually landed in a browser, but nobody ever updated the BCD entry.
      </p>
        <section class="backfilled implementations">
          {{#each backfilledImplementations}}
            <h4>{{@key}}</h4>
            <ol>
              {{#each this}}
                <li>
                  {{#unless (mdnLink this)}}
                    <span>{{formatFeatureStr key topic}}
                    	{{#if (specLink this)}}
                    	<a href="{{specLink this}}"><img src="../imgs/spec2.svg" alt="Spec link"></a>
                    	{{/if}}
                  </span>
                  {{/unless}}

                  {{#if (mdnLink this)}}
                    <a href="{{mdnLink this}}">{{formatFeatureStr key topic}}</a>
                  {{/if}}
                  
                  <b><br></b> 
                  <span class="browsers">Backfilled from <strong>{{backfilledImplementations}}</strong></span> 
                  <b>&nbsp;➞&nbsp;</b>
                  <span class="ni{{totalImplementations}} engines"><strong>{{totalImplementations}} of 3</strong> engines</span>

                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/if}}
      
      <h3>New entries ({{addedFeaturesCt}})</h3>
      {{#unless addedFeaturesCt}}
        No features were added to BCD in this time period.
      {{/unless}}
      {{#if addedFeaturesCt}}
      <p class="info">The entries in this section were not found in BCD on {{ olderReleaseDate }}, but are now present. These usually do not have any support information attached to them, and often have no corresponding MDN page. Sometimes, entries that appear here also appear in the next section (“Removed BCD entries”) because of a Working Group deciding on a rename.
      </p>
        {{#each addedFeatures}}
          <h4>{{@key}}</h4>
          <ol>
            {{#each this}}
              <li>{{formatFeatureStr this}}
  							{{#if (specLink this)}}
  							<a href="{{specLink this}}"><img src="../imgs/spec2.svg" alt="Spec link"></a>
  							{{/if}}
              </li>
            {{/each}}
          </ol>
        {{/each}} 
      {{/if}}

      <h3>Removed entries ({{removedFeaturesCt}})</h3>
      {{#unless removedFeaturesCt}}
        No features were removed from bcd in this time period
      {{/unless}}
      {{#if removedFeaturesCt}}
      <p class="info">The entries in this section were found in BCD on {{ olderReleaseDate }}, but are no longer present. The reasons for this removal can be anything from an experimental proposal that was never supported to a property or value being renamed to something else.
      </p>
        {{#each removedFeatures}}
          <h4>{{@key}}</h4>
          <ol>
            {{#each this}}
              <li>{{formatFeatureStr this}}
  							{{#if (specLink this)}}
  							<a href="{{specLink this}}"><img src="../imgs/spec2.svg" alt="Spec link"></a>
  							{{/if}}
              </li>
            {{/each}}
          </ol>
        {{/each}} 
      {{/if}}
    </details>
  {{/if}}
  
  <footer>
  	<p>
  	<a href="../">BCD Watch</a>: A service of <a href="https://igalia.com"><img src="../imgs/igalia-logo.jpg" alt="Igalia"></a>
  	</p>
  	<p>
  	Subscribe: <a href="feed.rss">RSS</a> • <a href="feed.atom">Atom</a> • <a href="feed.json">JSON</a>
  	</p>
  </footer>
</body>
</html>