<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="alternate" type="application/rss+xml" title="RSS feed" href="feed.rss">
<link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed.atom">
<link rel="alternate" type="application/feed+json" title="JSON feed" href="feed.json">
<link type="text/css" href="../styles.css" rel="stylesheet">
<title>BCD Changes Report, {{olderReleaseDate}} (UTC) - {{laterReleaseDate}} (UTC)</title>
</head>
<body>

  <h1>BCD Changes Report, <time>{{reportDate}}</time></h1>
	<p>
	<strong>Summary of BCD changes</strong>
	<span>from <time title="{{olderReleaseDateTime}}">{{olderReleaseDate}}</time></span>
	<span>to <time title="{{laterReleaseDateTime}}">{{laterReleaseDate}}</time></span>
	</p>

  <h2>Added Features: {{addedFeaturesCt}}</h2>
  {{#unless addedFeaturesCt}}
    No features were added to bcd in this time period 
  {{/unless}}
  {{#if addedFeaturesCt}}
    <details class="added">
      <summary>Expand to see the full list...</summary>
      {{#each addedFeatures}}
        <h4>{{@key}}</h4>
        <ol>
          {{#each this}}
            <li>{{formatFeatureStr this}}</li>
          {{/each}}
        </ol>
      {{/each}} 
    </details>
  {{/if}}

  <h2>Removed Features: {{removedFeaturesCt}}</h2>
  {{#unless removedFeaturesCt}}
    No features were removed from bcd in this time period
  {{/unless}}
  {{#if removedFeaturesCt}}
    <details class="removed">
      <summary>Expand to see the full list...</summary>
      {{#each removedFeatures}}
        <h4>{{@key}}</h4>
        <ol>
          {{#each this}}
            <li>{{formatFeatureStr this}}</li>
          {{/each}}
        </ol>
      {{/each}} 
    </details>
  {{/if}}

  <h2>Implementation Status Changes: +{{addedImplmentationsCt}}, -{{removedImplementationsCt}}</h2>

    {{#if addedImplmentationsCt}}
      <h3>Added ({{addedImplmentationsCt}})</h3>
      <section class="added implementations">
        {{#each addedImplementations}}
          <h4>{{@key}}</h4>
          <ol>
            {{#each this}}
              <li>
                {{#unless (mdnLink this)}}
                  <span>{{formatFeatureStr key topic}}</span>
                {{/unless}}

                {{#if (mdnLink this)}}
                  <a href="{{mdnLink this}}">{{formatFeatureStr key topic}}</a>
                {{/if}}
                
                <b><br></b> 
                <span class="browsers">Added to <strong>{{addedImplementations}}</strong></span> 
                <b>&nbsp;➞&nbsp;</b>
                <span class="ni{{totalImplementations}} engines"><strong>{{totalImplementations}} of 3</strong> engines</span>

              </li>
            {{/each}}
          </ol>
        {{/each}}
      </section>
    {{/if}}

    {{#if removedImplementationsCt}}
      <h3>Added ({{removedImplementationsCt}})</h3>
      <section class="removed implementations">
        {{#each removedImplementations}}
          <h4>{{@key}}</h4>
          <ol>
            {{#each this}}
              <li>
                {{#unless (mdnLink this)}}
                  <span>{{formatFeatureStr key topic}}</span>
                {{/unless}}

                {{#if (mdnLink this)}}
                  <a href="{{mdnLink this}}">{{formatFeatureStr key topic}}</a>
                {{/if}}
                
                <b><br></b> 
                <span class="browsers">Removed from <strong>{{removedImplementations}}</strong></span> 
                <b>&nbsp;➞&nbsp;</b>
                <span class="ni{{totalImplementations}} engines"><strong>{{totalImplementations}} of 3</strong> engines</span>

              </li>
            {{/each}}
          </ol>
        {{/each}}
      </section>
    {{/if}}

  </section>
  <footer>
  	Subscribe: <a href="feed.rss">RSS</a> • <a href="feed.atom">Atom</a> • <a href="feed.json">JSON</a>
  </footer>
</body>
</html>